h3 {
  margin-top: 30px;
  color: blue;
}

h3:first-child {
  margin-top: 0;
}

button {
  width: 100%;
  height: 35px;
  background-color: rgb(49, 49, 49);
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
}

label > p {
  margin-bottom: 0;
  font-weight: 600;
}

label div,
label input,
label textarea {
  height: 30px;
  width: 100%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 5px;
  padding: 5px 10px;
}

label textarea {
  resize: none;
  height: 150px;
}

.wrapper {
  width: 1300px;
}

#display {
  display: flex;
  gap: 50px;
  margin: 30px 0;
}

#forms,
#overview {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#forms {
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
  width: 800px;
}

.input-experience-dates,
.input-experience-location,
.input-education-location {
  display: flex;
  gap: 10px;
}

.input-experience-dates label,
.input-experience-location label,
.input-education-location label {
  width: 100%;
}

#overview {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}

.experience-info,
.education-info,
.personal-info {
  margin-top: 20px;
}

.overview-personal {
  height: 100px;
}

.overview-card > * {
  font-size: 1rem;
}

.overview-name {
  font-size: 3rem;
  font-weight: 700;
}

.overview-card {
  font-size: 0.8rem;
}

.overview-contact {
  display: flex;
  gap: 20px;
}

.overview-lines {
  position: relative;
  top: 22px;
  border: 1px solid black;
}

.overview-desc-label,
.overview-exp,
.overview-edu {
  margin: 20px 0 10px 0;
  background-color: black;
  color: white;
  width: fit-content;
  padding: 5px;
}

.experience-item {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    'dates position'
    'dates location';
}

.experience-position {
  font-weight: 600;
  grid-area: position;
}

.experience-dates {
  grid-area: dates;
}

.experience-city {
  font-size: 0.8rem;
  font-style: italic;
}

.education-name {
  font-weight: 600;
}

.education-item {
  margin-bottom: 20px;
}

.education-location {
  font-weight: 400;
  font-size: 0.8rem;
  font-style: italic;
}
