* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  background-color: rgb(219, 219, 219);
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

#app {
  width: 100%;
}

@media print {
  #overview {
    box-shadow: none !important;
  }

  .no-print,
  .no-print * {
    display: none !important;
  }
}
